.add-form{
    padding: 20px 60px 0;
}

.add-input{
    font-size: 1.6rem;
    padding: .6rem .8rem;
    outline: none;
    border: 2px solid gainsboro;
    border-radius: 8px;
    margin-right: .2em;
    color: darkgray;
}

.add-button{
    height: 100%;
    background: pink;
    font-size: 1.6rem;
    padding: .6rem .8rem;
    border-radius: 8px;
    color: white;
}
